.DS_Store
.vscode
.coverage
*.swp
snowshu.egg-info/
dist/
build/
*.pyc
*.log
*.log.*
snowshu_barf_output/
keyfile.json

tests/assets/integration/trail-path.yml
tests/assets/integration/credentials.yml
